$phone: 500px;

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

.container {
  margin-top: 50px;
  border: 1px solid #8080807e;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px rgb(41, 40, 40);
}

.header {
  height: 80px;
  width: 100%;
  position: relative;

  span#date {
    position: absolute;
    bottom: 10px;
  }

  .clear {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .clear i:hover {
    transform: rotate(45deg);
  }
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  padding: 5px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  border-bottom: 1px rgba(128, 128, 128, 0.315) solid;

  .text {
    margin: auto 0px auto 10px;
  }

  .fa.fa-times-circle {
    margin-left: auto;
  }
}

.lineThrough {
  text-decoration: line-through;
  color: #ccc;
}

.bottom {
  display: flex;

  #itemCount {
    margin: auto 10px auto auto;
  }
}

@include phone {
  .bottom {
    display: flex;
    flex-direction: column;

    #itemCount {
      margin: auto auto;
    }

    #panel {
      display: flex;
      justify-content: space-around;
    }
  }
}
